<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ZuoweixinxiDao">

    <select id="findByName" resultType="com.example.vo.ZuoweixinxiVo">
        select `zuoweixinxi`.* from `zuoweixinxi`

        where 1 = 1
        <if test="name != null and name != '' and name != 'all'">
            and `zuoweixinxi`.`leixing` like concat('%', #{name}, '%')
        </if>
        order by `zuoweixinxi`.id
    </select>

    <select id="getAll"   resultType="com.example.entity.Zuoweixinxi" parameterType="java.util.Map" >
        select * from zuoweixinxi  where 1=1
        <if test="leixing!=null">
            and leixing =#{leixing}
        </if>
    </select>

</mapper>
